@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required})
  </div>
  <input type="submit" value="Save Changes" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.MachineId })</p>